body {
  background-color: yellow;
}

header {
  color: tomato;
  font-family: fantasy;
  text-align: center;
  text-shadow: 2px -1px;
  border-bottom: solid black 5px;
  padding-top: 5px;
}

.logo {
  border: grey 5px solid;
  height: 90px;
  background-color: silver;
}

main {
  padding-top: 0px;
}

ul {
  padding-right: 50px;
  border-right: black 5px solid;
  padding-bottom: 30px;
  border-bottom: black 5px solid;
}

.intro {
  padding-top: 50px;
  font-size: 50px;
  color: tomato;
  font-family: fantasy;
  padding-left: 400px;
  text-align: left;
}

.intro p {
  color: black;
  font-size: 25px;
  font-style:italic;
  text-align: left;
}

section {
  padding-top: 20px;
}

.food-video {
  padding-bottom: 27px;
}

.drink-and-sport-videos {
  padding-bottom: 17px;
}

.other-videos {
  text-align: center;
  border: black 5px solid;
  margin-left: 287px;
}
